@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

/* Global */

body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


/* Splash section */

.splash {
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/images/splash-image.jpg");
    position: relative;
    background-position: center 20%;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

nav .logo {
    color: gold;
    font-size: 42px;
    font-family: 'Dancing Script', serif;
    flex: 0 0 10%;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    flex: 0 0 55%;
}


.nav-links li {
    list-style: none;
    margin-left: 60px;
    
}
.nav-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.splash-title {
    text-align: center;
    height: 70vh;
}

.splash-title h1,
.splash-title h3 {
    margin: 0;
}

.splash-title h1 {
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    font-size: 120px;
    font-family: 'Roboto', sans-serif;
}

.splash-title h3 {
    padding-top: 200px;
    color: white;
    font-size: 72px;
    font-style: italic;
    font-weight: 200;
}

.button {
    background-color: gold;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Service */

.service-title {
    padding: 100px 0 80px;
    text-align: center;
}

.service-title h2 {
    font-size: 48px;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.service-title p {
    margin: 0;
    color: grey;
    font-size: 24px;
}

.service .row {
    text-align: center;
    padding-bottom: 100px;
}

.service .row h2,
.service .row p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.service .service-icon-background {
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid gold;
    margin: 0 auto;
}

.service .service-icon-background i {
    font-size: 36px;
    color: gold;
    padding-top: 20px;
}

.service .row p {
    padding: 0 20px;
}

.service .row h4 {
    font-size: 24px;
    font-style: bold;
    margin: 0;
    padding-top: 10px;
}

/* Portfolio */

.portfolio {
    background-color: #F7F7F7;
}

.portfolio-title {
    padding: 100px 0 80px;
    text-align: center;
}

.portfolio-title h2 {
    font-size: 48px;
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.portfolio-title p {
    margin: 0;
    color: grey;
    font-size: 24px;
}

.portfolio .row {
    text-align: center;
    padding-bottom: 60px;
}

.portfolio .card {
    height: 390px; 
    
    display: flex;
    flex-direction: column;
}

.portfolio .card .image-container {
    width: 100%;
    flex: 0 0 80%;
}

.portfolio .card .image-container img {
    width: 100%;
    height: 100%;
}

.portfolio .card .card-description {
    width: 100%;
    flex: 0 0 20%;
    background-color: white;
}

.portfolio .row h4,
.portfolio .row p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.portfolio .row h4 {
    font-weight: bold;
    padding-top: 15px;
}

.portfolio .row p {
    font-style: italic;
    color: grey;
}

/* Footer */

footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

 footer ul {
     margin: 0 auto;
     padding: 25px;
     list-style-type: none;
     text-align: center;
     display: inline-block;
     
 }

 footer ul li {
    display: inline-block;
    padding: 5px;
    margin: 0 auto;
}

footer ul li a i {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;;
    color: white;
    font-size: 1.5em;
    padding-top: 8px;
}







