@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

/* Global */

body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0 auto;
    padding: 30px 10%;
}


/* Splash section */

.splash {
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/images/splash-image.jpg");
    position: relative;
    background-position: center 20%;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

nav .logo {
    color: gold;
    font-size: 42px;
    font-family: 'Dancing Script', serif;
    flex: 0 0 10%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex: 0 0 45%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.splash-title {
    text-align: center;
    height: 70vh;
}

.splash-title h1,
.splash-title h3 {
    margin: 0;
}

.splash-title h1 {
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    font-size: 120px;
    font-family: 'Roboto', sans-serif;
}

.splash-title h3 {
    padding-top: 200px;
    color: white;
    font-size: 72px;
    font-style: italic;
    font-weight: 200;
}

.button {
    background-color: gold;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    border-style: none;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

